{% extends 'root.html' %}
{% load crispy_forms_tags%}
{% load static %}
{% block content %}
{% load static %}
<div class="body container">
    <div class="a">
            <h1>Quick Data Top-UP:</h1>
            <div class="form">
              <form method="POST" validate>
                {% csrf_token %}

               {{network_form | crispy}}
                
                <button class="btn1 btn-success" type="submit">Submit form</button>
               

              </form>
            </div>
           
    </div>

    {% endblock content%}