{% extends 'root.html' %}
{% load static %}
{% load crispy_forms_tags%}

{% block content %}
<link rel="stylesheet" href="{%static 'css/login.css' %}">



<div class="login">
    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
</div>


<div class="body">
    <form class="user" method="POST"  novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control form-control-user"
                   id="email" name="username" aria-describedby="emailHelp"
                   placeholder="Enter Email Address...">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control form-control-user"
                   id="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox small">
                <input type="checkbox" class="custom-control-input" id="customCheck"
                       name="remember_me">
                <label class="custom-control-label" for="customCheck">Remember
                    Me</label>
            </div>
        </div>
        
        <button type="submit" class="btn1 btn-success ">Login</button>
    </form>
</div>

<hr>
<div class="text-center">
    <a class="small" href="{% url 'password_reset' %}">Forget password?</a> <br>
    <a class="small" href="{% url 'register' %}">Create an Account!</a>
</div>

{% endblock content %}