{% extends "root.html" %}
{%load static%}

<link rel="stylesheet" href="{%static 'css/logout.css' %}">
    {% block content %}
    <link rel="stylesheet" href="{%static 'css/logout.css' %}">
        <div class="container">

            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </p>
                {% endfor %}
            </div>
            {% endif %}

            <div class="body">
                <img src="{%static 'images/logo2.png'%}" alt="">
            </div>
            <h1>opps you are logged out, proceed to  <a   href="{% url 'login' %}"> Login</a></h1>
        </div>

        
    {% endblock content %}
   
