
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;600;800&display=swap" rel="stylesheet">
    
    
    
    
    
    <title>{{title}}</title>
    
</head>
<body>
    {% block content%}
        
    {% endblock content%}



    <script>
        const hamburger = document.querySelector(".hamburger");
        const navMenu = document.querySelector(".menu-items");

        hamburger.addEventListener("click", () => {
            hamburger.classList.toggle("active");
            navMenu.classList.toggle("active")

        })

        document.querySelectorAll(".nav-link").forEach(n => n.addEventListener("click", () =>{
            hamburger.classList.remove("active");
            navMenu.classList.remove("active");
        }))
    </script>

    
</body>
</html>