*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media screen and (min-width:800px){
    .container{
        text-align: center;
        display: block;
        justify-content: center;
    }
    .container h1{
        color: #000;
    }
    .body img{
        width: 40%;
    }
}

@media screen and (max-width:800px){
    .container{
        text-align: center;
        display: block;
        justify-content: center;
    }
    .container h1{
        color: #000;
    }
    .body img{
        width: 30%;
    }
}